.slider-wrapper {
    display: inline-block;
    width: 100%;
    min-height: 37px;
    position: relative;
    box-sizing: content-box;
}

.slider-bar {
    width: 100%;
    position: relative;
    border-radius: 6px;
    border: 1px solid;
    margin-top: 22px;
    height: 6px;

    border-color: #aaaaaa;
}

.slider-progress {
    height: 100%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    display: inline-block;
    max-width: 100%;
    min-width: 0;
    float: left;

    background-color: #999999;
}

.slider-knob {
    display: inline-block;
    width: 8px;
    height: 16px;
    cursor: pointer;
    margin: -6px -8px -0px -4px;
    border: 1px solid;
    border-radius: 4px;
    float: left;

    background-color: #e6e6e6;
    border-color: #d3d3d3;
}

.slider-label {
    float: left;
    margin-bottom: 0 !important;
}

.slider-label.slider-label-right {
    float: right;
}

/* Thanks to http://stackoverflow.com/a/4407335/4164644 */
.no-text-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 640px) {
    .slider-knob {
        width: 20px;
        margin: -6px -20px -0px -10px;
    }
}